<fieldset>
  <legend>Accomodation Details</legend>
  
  <div class="field">
    <label>Hostel</label>
    <input type="text" value="<%= @student.accomodation.hostel.name %>" disabled/>
  </div>

  <div class="field">
    <label>Room nos</label>
    <input type="text" value="<%= @student.accomodation.room_nos %>" disabled/>
  </div>

  <div class="field">
    <label>Validity Period</label>
    <input type="text" value="<%= @student.accomodation.validity_period %>" disabled/>
  </div>
</fieldset>